In [ ]:
from tinyshift.modelling import TransactionAnalyzer

In [14]:
filepath = './data/groceries.csv'

with open(filepath) as file:
    groceries = [line.strip().split(',') for line in file.readlines()]

In [15]:
encoder = TransactionAnalyzer().fit(groceries)
encoder.save("./data/model.pkl")
encoder = TransactionAnalyzer.load("./data/model.pkl")

In [16]:
encoder.zhang_metric("whole milk", "white bread")

np.float64(0.4975078519732349)

# Lift

In [17]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="lift")

               butter   cereals   waffles  white wine    yogurt
white bread  1.830927  1.272774  2.199857    0.635253  1.541183
whole milk   1.946251  2.516173  1.294328    0.544199  1.571895

## Zhang's Metric

In [18]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="zhang")

               butter   cereals   waffles  white wine    yogurt
white bread  0.473770  0.223732  0.569391   -0.374768  0.366577
whole milk   0.653036  0.809353  0.305433   -0.529409  0.488677

## Confidence

In [19]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="confidence")

               butter   cereals   waffles  white wine    yogurt
white bread  0.101449  0.007246  0.084541    0.012077  0.214976
whole milk   0.107839  0.014326  0.049741    0.010346  0.219260

## Conviction

In [20]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="conviction")

               butter   cereals   waffles  white wine    yogurt
white bread  1.051239  1.001564  1.050369    0.992981  1.096160
whole milk   1.058768  1.008758  1.011903    0.991244  1.102175

## Yule's Q

In [21]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="yules_q")

               butter   cereals   waffles  white wine    yogurt
white bread  0.333768  0.126759  0.419348   -0.234072  0.269328
whole milk   0.513340  0.682891  0.187905   -0.365135  0.379674

# Hypergeom

In [22]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="hypergeom")

                   butter       cereals   waffles  white wine        yogurt
white bread  9.740633e-05  4.212790e-01  0.000009    0.899959  1.255924e-05
whole milk   8.127852e-36  1.076244e-09  0.000522    0.999969  5.997334e-38

In [23]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="hypergeom") < 0.05

             butter  cereals  waffles  white wine  yogurt
white bread    True    False     True       False    True
whole milk     True     True     True       False    True