# StringConcatenator
This notebook shows the functionality of the `StringConcatenator` class. This Transformer combines data from specified columns, of mixed datatypes, into a new column containing one string.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import tubular
from tubular.strings import StringConcatenator

In [3]:
tubular.__version__

'0.3.3'

## Create sample data

In [4]:
character_df = pd.DataFrame(([":", ")", 5], [":", "(", 3]), columns=["c1", "c2", "c3"])

In [5]:
character_df.head()

  c1 c2  c3
0  :  )   5
1  :  (   3

## Simple usage

### Initialising StringConcatenatorTransformer

The user must specify the following;
- `columns` giving the columns to join
- `new column` giving the name of the new column
- `separator` giving the separator for joining (optional)

In [6]:
to_merge = ["c1", "c2", "c3"]

join_columns = StringConcatenator(to_merge, "merged", "-")

### StringConcatenatorTransformer fit
There is no fit method for the StringConcatenatorTransformer as the methods that it can run do not 'learn' anything from the data.

### StringConcatenatorTransformer transform

In [7]:
joined_df = join_columns.transform(character_df)

In [8]:
joined_df

  c1 c2  c3 merged
0  :  )   5  :-)-5
1  :  (   3  :-(-3